<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
<form action="{{ url_for('createaccount') }}" method="post">
    <label>Enter Email:</label>
    <input type="text" name="email"/><br/><br/>
    <label>Enter Name:</label>
    <input type="text" name="username"/><br/><br/>
    <label>Enter Password:</label>
    <input type="password" name="password"/><br/><br/>
    <label> Re-type Password:</label>
    <input type="password" name="password2"/><br/><br/>
    <input type="submit"/>
    <a href="/">Already have an account? Login.</a>
</form>
</body>
</html>